extends layout

block content
  h1= title
  - var books=[{book_type:"Text Book",num_books:"2",books_cost:400},{book_type:"Story Book",num_books:"4",books_cost:2000},{book_type:"Novels",num_books:"3",books_cost:3000}]
  div(class="container-fluid")
  div(class="row")
   each i,index  in books
    div(class="col-sm-2" onclick =`buy(${index})`) #{i.book_type}, #{i.num_books}, #{i.books_cost}
    script.
        function buy(a)
        {
            alert(`You purchased Item ${a+1}`)
        }